<!doctype html>
<html>
   <body>
      <table border = 1>
         <th>
            <td>Codigo</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>Endereço</td>
            <td>Telefone</td>
            <td>Email</td>
            <td>Cidade</td>
            <td>UF</td>
            <td>CEP</td>
            <td colspan="3">Comandos</td>
         </th>

         {% for x in result%}
            <tr>
               <td> {{x[]}} </td>
               <td> {{ x[0]}} </td>
               <td> {{ x[1]}} </td>
               <td> {{ x[2]}} </td>
               <td> {{ x[3]}} </td>
               <td> {{ x[4]}} </td>
               <td> {{ x[5]}} </td>
               <td> {{ x[6]}} </td>
               <td> {{ x[7]}} </td>
               <td> {{ x[8]}} </td>
               <td><a href='/'>Incluir</a></td>
               <td><a href='/editar/{{x[0]}}'>Editar</a></td>
               <td><a href='/delete/{{x[0]}}'>Apagar</a></td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>